* {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
:root {
  --color-grey-200: #e9ebef;
}

body {
  margin: 0;
  padding: 0;
}

.body-full {
  display: flex;
  height: calc(100vh - 66px);
  width: 100%;
}

.body-grey-200 {
  background-color: var(--color-grey-200);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-form {
  display: flex;

  padding: 20px;
  width: auto;
  height: auto;

  border-radius: 20px;
  box-shadow: 0px 0px 27px 15px rgba(0, 0, 0, 0.22);

  background-color: white;
}

.div-form-short {
  background-color: white;
  padding: 40px;
}
.form-input-short {
  height: 60px;
}
.i-link {
  height: 60px;
  width: 60px;
  font-size: 40px;
  line-height: 60px;
  align-items: center;
  text-align: center;
}
.h-100 {
  height: 100% !important;
}

.figure-image {
  height: 180px;
  width: 171px;
  border: 1px solid #555555;
  border-radius: 90px;
}

@media screen and (max-width: 600px) {
  .form-short {
    flex-direction: column;
  }
  .button-short {
    margin-top: 10px;
    height: 50px;
  }

  .i-link {
    display: none;
  }
}
