* {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.body-full {
  display: flex;
  height: calc(100vh - 66px);
  width: 100%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-form {
  display: flex;

  padding: 20px;
  width: auto;
  height: auto;

  border-radius: 20px;
  box-shadow: 0px 0px 27px 15px rgba(0, 0, 0, 0.22);
}
